@use "../vars" as *;

table {
    width: 100%;
    border-top: 1px solid $gray_border_color;
    border-left: 1px solid $gray_border_color;

    border-spacing: 0;

    th,
    td {
        border-bottom: 1px solid $gray_border_color;
        border-right: 1px solid $gray_border_color;
        padding: 10px 15px;
        text-align: left;
    }

    th {
        background-color: $main_color;
        color: white;
    }

    tr:nth-child(2n) td {
        background-color: #ebebeb;
    }
}
